<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="EmailUsername" value="jasc.cvgenerator@gmail.com" />
    <add key="EmailPassword" value="eli@gorka@iker" />
    <add key ="EmailPersonal" value ="ja.sanchezcarmona@gmail.com"/>
    <add key ="PathTemplate" value ="C:\Users\jasan\OneDrive\Documentos\Curriculum Vitae\TemplateCurriculum.pdf"/>
    <add key ="PathDestino" value ="C:\Users\jasan\OneDrive\Documentos\Curriculum Vitae\"/>
  </appSettings>
</configuration>