@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div id="home" class="home">
    <div id="panel" class="p-5 text-center bg-image panel">
        <div id="content" class="d-flex justify-content-center align-items-center h-100">
            <div class="text-white">
                <h1 class="mb-3">
                    Bienvenido/a al generador automático de curriculums.
                </h1>
                <br />
                <h4 class="mb-3">
                    Herramienta desarrollada por:
                    <br />
                    Juan Antonio Sánchez Carmona
                </h4>
                <a class="btn btn-outline-light btn-lg" asp-action="Form" role="button">Comenzar</a>
            </div>
        </div>
    </div>
</div>